body {
  background-color: gray;
  width: 1024px;
  height: 768px;
  background-repeat: none;
}
#chart {
  width: 800px;
  height: 600px;
  background-color: lightsteelblue;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.axis path {
  stroke: #ffffff;
  fill: none;
  width: 2px;
}
svg .bar {
  stroke: #ad1aac;
}
.line {
  fill: none;
  stroke: white;
}
.line.selection {
  stroke: #a4dbe8;
  stroke-width: 3px;
}
.line.projection {
  stroke: grey;
  width: 2px;
}
circle.datum {
  fill: #a4dbe8;
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 2px;
}
circle.hidden {
  visibility: hidden;
}
svg {
  font-size: 24pt;
}
svg text {
  font-family: "Arial";
  fill: #ffffff;
}
svg text.label {
  font-size: .5em;
}
svg text.active {
  fill: #ad1aac;
  opacity: 1 !important;
}
svg text.hidden {
  opacity: 0;
}
.tick text {
  font-size: .33em;
}
.slider {
  margin-top: 1em;
}
.slider:after {
  content: attr(title);
  position: absolute;
  left: -55px;
  top: -0.25em;
}
