body {
  background-color: gray;
}
#chart {
  width: 800px;
  height: 600px;
  background-color: lightsteelblue;
}
.axis path {
  stroke: black;
  fill: none;
  width: 2px;
}
svg .bar {
  stroke: red;
}
.line {
  fill: none;
  stroke: white;
}
.line.selection {
  stroke: cornflowerblue;
  stroke-width: 3px;
}
.line.projection {
  stroke: grey;
  width: 2px;
}
circle.datum {
  fill: cornflowerblue;
  stroke: lightsteelblue;
}
circle.hidden {
  visibility: hidden;
}
svg {
  font-size: 24pt;
}
svg text {
  font-family: "Arial";
  fill: #181B1E;
}
svg text.label {
  font-size: .5em;
}
svg text.active {
  fill: red;
  opacity: 1 !important;
}
svg text.hidden {
  opacity: 0;
}
.tick text {
  font-size: .33em;
}
.slider {
  margin-top: 1em;
}
.slider:after {
  content: attr(title);
  position: absolute;
  left: -55px;
  top: -0.25em;
}
