@import "colors.less";
 
body{
	background-color: gray;
	width: 1024px;
	height: 768px;
	background-repeat: none;
}
#chart{
	width: 800px;
	height: 600px;
	background-color: lightsteelblue;
	margin-right:auto;
	margin-left:auto;
	background-color: @black; 
}
.axis path{
	stroke: @white;
	fill: none;
	width: 2px;
}

svg .bar{
	stroke:@purple;
}

.line{
	fill: none;
	stroke: white;
	&.selection{
		stroke: @lightblue;
		stroke-width: 3px;
	}
	&.projection{
		stroke: grey;
		width: 2px;
	}
}

circle {
	&.datum{
		fill: @lightblue;
		stroke: @black;
		stroke-width: 2px;
	}
	&.hidden{
		visibility: hidden;
	}
}
svg{
	font-size: 24pt;
}
svg text{
	font-family: "Arial";
	fill: @white;
	&.label{
		font-size:.5em;
	}
	&.active{
		fill:@purple;
		opacity: 1 !important;
	}
	&.hidden{
		opacity:0;
	}
}
.tick text{
	font-size: .33em;
	
}
.slider{
	margin-top: 1em;
}
.slider:after{
	content: attr(title) ;
	position:absolute;
	left: -55px;
	top:-.25em;
	
}