@font-face {
  font-family: 'label';
  src: url('../FONTS/GothamRnd-Book.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'bold';
  src: url('../FONTS/GothamRnd-Bold.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'sub-title';
  src: url('../FONTS/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'medium';
  src: url('../FONTS/GothamRnd-Medium.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'title';
  src: url('../FONTS/linotype_-_universltpro-ultracondensed-webfont.svg#univers_lt_pro59ultraCn') format('svg');
  font-weight: normal;
  font-style: normal;
}
body {
  overflow: hidden;
  background-color: gray;
  background-image: url("../IMG/money_tunnel.png");
  width: 1024px;
  height: 768px;
  background-repeat: none;
}
#chart {
  width: 90%;
  height: 550px;
  background-color: lightsteelblue;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(16, 6, 159, 0.5);
  box-shadow: inset 0 -20px 200px #000000, inset 0 -60px 200px #000000;
}
.axis path {
  stroke: #ffffff;
  fill: none;
  width: 2px;
}
.glow text {
  stroke: #ad1aac;
  filter: url(#glow1);
}
.glow domain {
  visibility: hiddne;
}
.bevel {
  filter: url(#Bevel2);
}
svg .bar {
  stroke: #ad1aac;
}
.barBox {
  fill: url(#diagonalHatch);
  fill-opacity: 0.3;
}
path {
  shape-rendering: crispEdges;
}
.line {
  fill: none;
  shape-rendering: auto;
  stroke: white;
}
.line.selection {
  stroke: #a4dbe8;
  stroke-width: 3px;
}
.line.projection {
  stroke: grey;
  width: 2px;
}
.line.area {
  fill: rgba(197, 41, 155, 0.5);
  fill: url(#diagonalHatch);
  stroke: white;
  visibility: visible;
}
.line.total {
  stroke-width: 3px;
  stroke: #c5299b;
  visibility: visible;
}
.line.balance {
  stroke: white;
  stroke-width: 3px;
}
.outline {
  filter: url(#outline);
}
.outlinesm {
  filter: url(#outlinesm);
}
#toPrinciple {
  visibility: hidden;
}
circle.balance {
  fill: white;
  stroke: white;
  visibility: hidden;
}
circle.total {
  fill: #c5299b;
  stroke: #c5299b;
  visibility: hidden;
}
.linelabel {
  font-size: .4em;
}
.lifted {
  filter: url(#drop);
}
#diagonalHatch > path {
  stroke: rgba(164, 219, 232, 0.6);
}
circle.datum {
  fill: #a4dbe8;
  stroke: rgba(0, 0, 0, 0.8);
  stroke-width: 2px;
}
circle.hidden {
  visibility: hidden;
}
svg {
  font-size: 24pt;
}
svg text {
  font-family: "label";
  fill: #ffffff;
}
svg text.label {
  font-size: .5em;
}
svg text.active {
  fill: #ffffff;
  opacity: 1 !important;
}
svg text.hidden {
  opacity: 0;
}
.tick line {
  stroke: #ffffff;
}
.tick text {
  font-size: .33em;
}
.slider {
  font-family: Arial;
  margin-top: 1.5em;
}
.slider:before {
  content: attr(title);
  position: absolute;
  margin-left: -120px;
  top: -0.25em;
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
}
.slider.card {
  margin-top: 1.5em;
}
.slider.card:before {
  position: absolute;
  margin-left: 0;
  margin-top: -1.5em;
  content: attr(title);
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
  color: white;
}
.card.payment {
  margin-top: 1.5em;
  font-size: 18pt;
  font-family: label;
  color: white;
  text-shadow: 0 0 2px #ffb81c, 0 0 2px #ffb81c, 0 0 10px #ffb81c;
  margin-top: 1.1em;
  padding-bottom: 1em;
}
.card.payment:before {
  position: absolute;
  margin-left: 0;
  margin-top: -1.5em;
  content: attr(title);
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
  color: white;
}
.card.payment:before {
  font-family: label;
  margin-top: -1.1em;
  color: white;
  font-size: 1em;
}
.cardUILabel {
  margin-top: 1.5em;
}
.cardUILabel:before {
  position: absolute;
  margin-left: 0;
  margin-top: -1.5em;
  content: attr(title);
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
  color: white;
}
.savingsSliders .slider {
  margin-top: 1.65em;
  /* 2.25em */
}
.savingsSliders .slider:before {
  content: attr(title);
  position: absolute;
  margin-left: -95px;
  top: -0.25em;
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
}
.fraction,
.top,
.bottom {
  padding: 0 3px;
}
.int {
  font-size: 1.5em;
  margin-top: -1.25em;
  margin-left: .1em;
}
.fraction {
  height: 3em;
  padding-top: .5em;
  display: inline-block;
  text-align: center;
  font-size: .9em;
  line-height: 1.1em;
}
.fraction .bottom {
  border-top: 1px solid #fff;
  display: block;
}
.buttons:before {
  position: absolute;
  width: 120px;
  line-height: 2em;
  content: attr(title);
  margin-left: -120px;
  margin-top: .3em;
  font-family: label;
  color: white;
  font-size: 1.1em;
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
}
.uiLabel {
  font-size: 1.3em;
  text-shadow: 2px 3px 3px black;
}
.carButton {
  box-sizing: border-box;
  width: 32%;
  margin: 1%;
}
.slider.car:after {
  left: -135px;
}
.tooltip {
  color: #ffffff;
  font-family: Arial;
}
.payment {
  fill: #c5299b;
  stroke: none;
}
.interest {
  fill: url(#diagonalHatch);
  stroke: none;
  stroke: #a4dbe8;
  fill: rgba(164, 219, 232, 0.5);
  background-color: rgba(164, 219, 232, 0.5);
  border: 1px solid #a4dbe8;
}
line.interest {
  fill: url(#diagonalHatch);
}
.principle {
  stroke: none;
  stroke: #c5299b;
  fill: rgba(197, 41, 155, 0.5);
  background-color: rgba(197, 41, 155, 0.5);
  border: 1px solid #c5299b;
}
.year {
  font-size: 11pt;
  fill: white ;
}
.month {
  font-size: 7pt;
  fill: white ;
  stroke: none;
}
.yearBar {
  fill: rgba(255, 255, 255, 0.3);
  stroke: rgba(0, 0, 0, 0);
  stroke-width: 2px;
}
.bar {
  stroke: none;
}
line.principle {
  stroke-width: 6px;
}
#legend {
  -webkit-box-sizing: border-box;
  background-color: rgba(16, 6, 159, 0.5);
  padding: .25em;
  width: 100%;
  box-shadow: inset 0 -5px 20px #000000;
  font-family: label;
  color: white;
}
#legend .key {
  margin-left: 1em;
  margin-right: .25em;
  display: inline-block;
  width: 1.25em;
  height: 1.25em;
}
#legend .key.payment {
  fill: red;
}
#legend p {
  margin: 0;
  display: inline-block;
  line-height: 1.25em;
  margin-right: .5em;
}
.legendText {
  font-size: 12px;
}
.carIcon {
  float: left;
}
#warnWrap {
  position: absolute;
  left: 140px;
  top: 90px;
}
#warning {
  -webkit-animation: warning 5s infinite;
  -webkit-transition: all 0.5s;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(173, 26, 172, 0.5);
  border-radius: 10px;
  color: white;
  overflow: hidden;
}
#warning.inactive {
  -webkit-transform: scale(0.5);
  width: 120px;
}
#warning.active {
  -webkit-transform: scale(1);
  width: 420px;
}
#warning svg {
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#warning svg path {
  fill: #c5299b;
  stroke: black;
  shape-rendering: optimizeSpeed;
}
#warning p {
  padding: 0;
  margin: 0;
  font-family: label;
  margin-right: 10px;
  width: 400px;
}
@-webkit-keyframes warning {
  0% {
    box-shadow: 0 0 0px #e272c4;
  }
  15% {
    box-shadow: 0 0 20px 4px #e272c4;
  }
  30% {
    box-shadow: 0 0 0px #e272c4;
  }
  100% {
    box-shadow: 0 0 0px #e272c4;
  }
}
