@import "colors.less";
 @font-face {
    font-family: 'label';
    src: url('../FONTS/GothamRnd-Book.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}
 @font-face {
    font-family: 'bold';
    src: url('../FONTS/GothamRnd-Bold.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sub-title';
    src: url('../FONTS/gothamrnd-light-webfont.svg#gotham_roundedlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'medium';
    src: url('../FONTS/GothamRnd-Medium.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'title';
    src: url('../FONTS/linotype_-_universltpro-ultracondensed-webfont.svg#univers_lt_pro59ultraCn') format('svg');
    font-weight: normal;
    font-style: normal;
}
body{
	overflow:hidden;
	background-color: gray;
	background-image: url("../IMG/money_tunnel.png");
	width: 1024px;
	height: 768px;
	background-repeat: none;
}
#chart{
	width: 800px;
	height: 450px;
	background-color: lightsteelblue;
	margin-right:auto;
	margin-left:auto;
//	background-color: @black; 
	.chartBG;
	box-shadow: inset 0 -20px 200px black;
}
.chartBG(@in:-20){
	background-color: fade(@blue, 50);
	
}

.axis path{
	stroke: @white;
	fill: none;
	width: 2px;
}
.glow{
	
}
.glow{  
	& text{
	stroke: @purple;
	filter:url(#glow1);
	}
	& domain{
		visibility: hiddne;
	}
	

}

.bevel{
	filter: url(#Bevel2);
}



svg .bar{
	stroke:@purple;
	
}

.barBox{
	fill: fade(@purple,20);
}

path{
	shape-rendering: crispEdges;
}
.line{
	
	fill: none;
	shape-rendering: auto;
	stroke: white;
	&.selection{
		stroke: @lightblue;
		stroke-width: 3px;
	}
	&.projection{
		stroke: grey;
		width: 2px;
	}
	&.area{
		fill: fade(@pink, 50);
		fill: url(#diagonalHatch);
		stroke:none;
		visibility: hidden;
	}
	&.total{
		stroke-width: 3px;
		stroke: @blue;
		visibility: hidden;
	}
	&.balance{
		stroke: white;
		stroke-width: 3px;
		
	}
}

circle{
	&.balance{
		fill: white;
		stroke:white;
	}
}

.linelabel{
	font-size: .5em;
}

.lifted{
	filter: url(#drop);
}

#diagonalHatch > path{
	stroke: fade(@lightblue,60);
}

circle {
	&.datum{
		fill: @lightblue;
		stroke: @black;
		stroke-width: 2px;
	}
	&.hidden{
		visibility: hidden;
	}
}
svg{
	font-size: 24pt;
}
svg text{
	font-family: "label";
	fill: @white;
	&.label{
		font-size:.5em;
	}
	&.active{
		fill:@white;
		opacity: 1 !important;
	}
	&.hidden{
		opacity:0;
	}
}
.tick {
	& line{stroke: @white}
	& text{
	font-size: .33em;
	
}}
.slider{
	font-family: Arial;
	margin-top: 1.5em;
}
.slider:before{
	content: attr(title) ;
	position:absolute;
	margin-left: -120px;
	top:-.25em;
	.uiLabel;
}

.buttons:before{
	position:absolute;
	width: 120px;
	line-height: 2em;
	content: attr(title) ;
	margin-left: -120px;
	margin-top: .3em;
	font-family: label;
	color: white;
	font-size: 1.1em;
	.uiLabel;
	
}

.uiLabel{
	font-size: 1.3em;
	text-shadow: 2px 3px 3px black;
}

.carButton{
	box-sizing: border-box;
	width: 32%;
	margin: 1%;
}

.slider.car:after{
	left: -135px;

	
}
.tooltip{
	color: @white;
	font-family: Arial;
}

.payment{
	fill: @pink;
	.bar;
}
.interest{
	fill: url(#diagonalHatch);;
	.bar;
	stroke: @lightblue;
	fill: fade(@lightblue, 50%);
	
	background-color: fade(@lightblue, 50%);
	border: 1px solid @lightblue;
	
}

.principle{
	.bar;
	stroke: @pink;
	fill: fade(@pink, 50%);
	
	background-color: fade(@pink, 50%);
	border: 1px solid @pink;
}

.year {
	font-size: 11pt;
	fill : white ;
	stroke: none;

}

.month{
	font-size: 7pt;
	fill : white ;
	stroke: none;
}



.bar{
	stroke:none;
//	.bevel;
}

line.principle{
	stroke-width: 6px;
}

#legend{
	-webkit-box-sizing: border-box;
	.chartBG(5);
	padding: .25em;
	width: 100%;
	box-shadow: inset 0 -5px 20px black;
	font-family: label;
	color: white;
	& .key{
		margin-left: 1em;
		margin-right: .25em;
		display: inline-block;
		width: 1.25em;
		height: 1.25em;
		
		&.payment{
			fill: red;
		}
	}
	& p{
		margin:0;
		
		display: inline-block;
		line-height: 1.25em;
		margin-right: .5em;
	}
}


